*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.topo{
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgb(47, 47, 48);
    padding: 0 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icone-esquerda{
    width: 75px;
    height: 53px;
}
.icone-direita{
    width: 42.19px;
    height: 30.94px;
}
.icone-direita:active{
    transform: scale(0.97);
    transition: transform .4s;
    color: grey;
}
.chat{
    margin: 116px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}
.mensagem{
    
    padding: 10px 9px;
    width: 100vw;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
}
strong{
    font-weight: bold;
}
.entrada-saida{
    background-color: #dbdbdb;
}
.padrao{
    background-color: #ffffff;
}
.horario{
    color: #aaaaaa;
}
.reservadamente{

}
.bottom{
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    box-shadow: 0 0 3px rgb(47, 47, 48);
    padding: 0 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.digitar-mensagem{
    width: 40vw;
    height: 30px;  
}
.digitando{
    width: 80vw;
    height: 30px;
}
.enviar-mensagem{
    width: 26px;
    height: 26px;
}
.enviar-mensagem:active{
    transform: scale(0.97);
    transition: transform .4s;
    color: grey;
}

.menu-participantes{
    height: 100vh;
    width: 70vw;
    background-color: #ffffff;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000000000;
    display: flex;
    flex-direction: column;
    
}
h2{
    height: 84px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.participantes, .visibilidade{
    display: flex;
    flex-direction: column;
}
.participante, .publico, .reservadamente{
    display: flex;
    align-items: center;
    padding-left: 17px;
}
.participante-icone, .publico-icone, .reservadamente-icone{
    width: 18px;
    height: 23px;
}
.participante-nome, .publico-nome, .reservadamente-nome{
    height: 36px;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.participante:active, .publico:active, .reservadamente:active{
    transform: scale(0.97);
    transition: transform .4s;
    color: grey;
}

.esquerda-menu{
    height: 100vh;
    width: 30vw;
    background-color: gray;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    opacity: 0.4;
}
